* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Kumbh Sans";
  color: hsl(229, 23%, 23%);
  overflow: hidden;
}

.bg {
  position: absolute;
  width: 750px;
  max-width: none;
  z-index: 0;
}

.bg-top {
  top: -350px;
  left: -300px;
}

.bg-bottom {
  bottom: -350px;
  right: -300px;
}

.card {
  position: relative;
  z-index: 1;
  background: hsl(225, 10%, 92%);
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.15);
  padding-bottom: 20px;
}

.patcard {
  height: 140px;
  background: url(/images/bg-pattern-card.svg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cover {
  width: 95px;
  border-radius: 100%;
  display: flex;
  justify-self: center;
  border: 5px white solid;
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
}

.name {
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 2rem;
  padding-top: 50px;
}

.age {
  font-weight: 400;
  font-size: 1rem;
  color: hsl(227, 10%, 46%);
}

.location {
  text-align: center;
  color: hsl(227, 10%, 46%);
  font-size: 0.9rem;
}

.line {
  border: none;
  height: 1px;
  background-color: hsl(0, 0%, 75%);
  margin: 1rem 0;
}

.count {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.numbers {
  font-weight: 700;
  font-size: 1.3rem;
}

.numbers span {
  display: block;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin-top: 0.35rem;
}

@media (max-width: 430px) {
  html {
    background-color: hsl(185, 75%, 39%);
  }

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg {
    position: fixed;
    width: 650px;
    z-index: 0;
    pointer-events: none;
  }

  .bg-top {
    top: -55vh;
    left: -65vw;
  }

  .bg-bottom {
    bottom: -55vh;
    right: -65vw;
  }

  .card {
    width: 90%;
    max-width: 350px;
  }

  .cover {
    top: 88px;
  }
  .name {
    padding-top: 55px;
  }
}
